<template>
    <div class="my-progress-bar" v-bind:style="{'background-color': defender_col}">
        <span class="prog-col att" v-bind:style="{'width': defperc,'background-color': attacker_col}">
        </span>
    </div>
</template>

<script>
    export default {
        name: 'progressbar',
        props: ['percantage', 'attacker', 'defender'],
        data() {
            return {
                perc: this.percantage,
                defperc: null,
                attack: this.attacker,
                defend: this.defender,
                attacker_col: null,
                defender_col: null
            }
        },
        created() {
            this.defperc = (this.perc) + '%'
            switch (this.attack) {
                case 'Infested':
                    this.attacker_col = 'rgba(22, 122, 43)'
                    break;
                case 'Corpus':
                    this.attacker_col = 'rgba(68, 117, 196)'
                    break;
                case 'Grineer':
                    this.attacker_col = 'rgba(183, 49, 54)'
                    break;
            }
            switch (this.defend) {
                case 'Infested':
                    this.defender_col = 'rgba(22, 122, 43)'
                    break;
                case 'Corpus':
                    this.defender_col = 'rgba(68, 117, 196)'
                    break;
                case 'Grineer':
                    this.defender_col = 'rgba(183, 49, 54)'
                    break;
            }
        }
    }
</script>
