<template>
    <span class="my-timer-div">
        {{timer_itself}}
    </span>
</template>

<script>
    export default {
        name: 'timer',
        props: ['timer'],
        data() {
            return {
                actimer: this.timer,
                timer_itself: null
            }
        },
        created() {
            this.getTimer()
            this.intervalid1 = setInterval(() => this.getTimer(), 1000)
        },
        methods: {
            getTimer() {
                let time = Date.parse(this.actimer) - Date.now()
                let tt = new Date(time)
                // console.log(tt.getUTCHours(), tt.getMinutes(), tt.getSeconds()) DEBUG
                if (time > 0) {
                    this.timer_itself = tt.getUTCHours().toString() + ':' + (tt.getMinutes() < 10 ? '0' + tt.getMinutes().toString() : tt.getMinutes().toString()) + ':' + (tt.getSeconds() < 10 ? '0' + tt.getSeconds().toString() : tt.getSeconds().toString())
                } else {
                    this.timer_itself = '0:00:00'
                }
            }
        }
    }
</script>
