<template>
    <div>
        <h1 class="my-event-title">Nightwave</h1>
        <div class="container my-alerts-div">
            <div class="my-alert-card my-event-boxs" v-bind:class="{ 'my-event-boxs-elite' : nightwave.isElite, 'my-event-boxs-daily': nightwave.isDaily }" v-for="(nightwave, index) in nightwaves" :key="index">
                <div class="row">
                    <div class="col">
                        <p>Title: {{nightwave.title}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="my-reward-parag">Description:<br> {{nightwave.desc}}</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <p class="my-alert-card-ifExtended"> Reward:<br> {{nightwave.reputation}} Nigtwave reputation</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Time remaining :
                            <timer class="my-alert-card-ifExtended" :timer="timers[index]"></timer>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import timer from '../sm-comp/timer.vue'

    export default {
        name: 'alerts',
        data() {
            return {
                nightwaves: [],
                timers: []
            }
        },
        created() {
            this.getData()
            this.interval = setInterval(() => this.getData(), 3 * 1000)
        },
        beforeDestroy() {
            clearInterval(this.interval)
        },
        methods: {
            getData() {
                console.log('ahhaha')
                axios.get('https://api.warframestat.us/pc/nightwave')
                    .then(response => {
                        let l1 = this.nightwaves.length
                        let l2 = response.data.activeChallenges.length
                        console.log(response.data.activeChallenges[0])
                        if (l1 !== l2) {
                            // console.log('timers update')
                            let tmrs = []
                            response.data.activeChallenges.forEach(function (nw, index) {
                                tmrs[index] = nw.expiry
                            });
                            this.timers = tmrs
                        }
                        this.nightwaves = response.data.activeChallenges
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        },
        components: {
            timer
        }
    }
</script>
