<template>
    <div>
        <h1 class="my-event-title"> Fissures </h1>
        <div class="container my-fissures-div">
            <div class="my-fissure-card my-event-boxs" v-for="(fissure, index) in fissures" :key="index">
                <div class="row">
                    <div class="col text-center">
                        {{fissure.node}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        {{fissure.tier}} | {{fissure.missionType}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <timer :timer="fissure.expiry"></timer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import timer from '../sm-comp/timer.vue'

    export default {
        data() {
            return {
                fissures: []
            }
        },
        created() {
            this.getData()
            this.interval = setInterval(() => this.getData(), 60 * 1000)
        },
        beforeDestroy() {
            clearInterval(this.interval)
        },
        methods: {
            getData() {
                axios.get('https://api.warframestat.us/pc/fissures')
                    .then(response => {
                        let fArr = []
                        let mesoArr = []
                        let neoArr = []
                        let axiArr = []
                        response.data.forEach(fissure => {
                            switch (fissure.tier) {
                                case 'Lith':
                                    fArr.push(fissure);
                                    break;
                                case 'Meso':
                                    mesoArr.push(fissure);
                                    break;
                                case 'Neo':
                                    neoArr.push(fissure);
                                    break;
                                case 'Axi':
                                    axiArr.push(fissure);
                                    break;
                            }
                        });
                        fArr.push.apply(fArr, mesoArr);
                        fArr.push.apply(fArr, neoArr);
                        fArr.push.apply(fArr, axiArr);
                        this.fissures = fArr;
                        // console.log(this.fissures)
                    })
            }
        },
        components: {
            timer
        }
    }
</script>
