<template>
    <div>
        <h1 class="my-event-title">Invasions</h1>
        <div class="container my-invasions-div">
            <div class="my-invasion-card my-event-boxs" v-for="(invasion, index) in invasions" :key="index">
                <div class="row">
                    <div class="col-6 offset-3">
                        <p class="text-center">
                            {{invasion.desc}} : {{invasion.node}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-center">{{invasion.attackingFaction}}</p>
                    </div>
                    <div class="col-6">
                        <p v-if="invasion.eta != '-Infinityd' && invasion.eta != 'Infinityd'" class="text-center">
                            Ends in {{invasion.eta}}
                        </p>
                        <p v-else class="text-center">
                            Ends in ???
                        </p>
                    </div>
                    <div class="col-3">
                        <p class="text-center">{{invasion.defendingFaction}}</p>
                    </div>
                </div>
                <div class="row">
                    <progressbar :attacker="invasion.attackingFaction" :defender="invasion.defendingFaction" :percantage="invasion.completion"></progressbar>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p v-if="!invasion.vsInfestation" class="text-center">Reward : {{invasion.attackerReward.asString}}</p>
                    </div>
                    <div class="col-4 offset-4">
                        <p class="text-center">Reward : {{invasion.defenderReward.asString}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import progressbar from '../sm-comp/progress.vue'

    export default {
        name: 'invasions',
        data() {
            return {
                invasions: []
            }
        },
        created() {
            this.getData()
            this.interval = setInterval(() => this.getData(), 5 * 60 * 1000)
        },
        beforeDestroy() {
            clearInterval(this.interval)
        },
        methods: {
            getData() {
                axios.get('https://api.warframestat.us/pc/invasions')
                    .then(response => {
                        this.invasions = []
                        response.data.forEach(inv => {
                            if (!inv.completed) {
                                this.invasions.push(inv)
                            }
                        });
                        // console.log(this.invasions)
                    })
                    .catch(error => {
                        console.log(error)
                    })
            }
        },
        components: {
            progressbar
        }
    }
</script>
