<template>
<div v-if="sortie.expiry !== undefined">
    <h1 class="my-event-title"> Sortie </h1>
    <div class="container my-sortie-div">
        <div class="my-event-boxs">
            <p class="text-center my-sortie-desc">{{sortie.faction}} | {{sortie.boss}} |
                <timer :timer="sortie.expiry"></timer>
            </p>
            <div class="my-event-boxs my-sortie-mission-description" v-for="(mission, index) in sortie.variants" :key="index">
                <div class="row">
                    <p class="col text-center">{{mission.node}}</p>
                </div>
                <div class="row">
                    <p class="col text-center">Mission modifier : {{mission.modifier}}</p>
                </div>
                <div class="row">
                    <p class="col text-center">Modifier description : {{mission.modifierDescription}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import axios from 'axios'
    import timer from '../sm-comp/timer.vue'

    export default {
        name: 'sortie',
        data () {
            return {
                sortie: {}
            }
        },
        created() {
            this.getData()
            this.interval = setInterval(() => this.getData(), 60 * 60 * 1000)
        },
        beforeDestroy() {
            clearInterval(this.interval)
        },
        methods: {
            getData() {
                axios.get('https://api.warframestat.us/pc/sortie')
                    .then(response => {
                        // console.log(response.data)
                        this.sortie = response.data;
                    })
            }
        },
        components: {
            timer
        }
    }
</script>
