<template>
    <div class="api-about container">
        Users:
        <br>
        <p>GET api/users/ returns all users, has pagination, has search(queryable: page, search)</p>
        <p>GET api/users/:id returns user by his id</p>
        <p>DELETE api/users/:id/delete deletes user by his id</p>
        <p>PATCH api/users/:id/update updates user fields (Req body: [telegramId], [chatId], [filters], [image])</p>
        <p>POST api/users/new creates new user (Req body: username, password, confirmPassword, [image])</p>
        <br> Filters:
        <br>
        <p>POST api/filters/new Creates new filter (Req body: [newFiterName], [newFilters], [newEnabled]) if no params are specified
            uses default values</p>
        <p>GET api/filters/:id returns user by his id</p>
        <p>DELETE api/filters/:id/delete deletes filter by his id</p>
        <p>PATCH api/filters/:id/update updates filter fields (Req body: newFiterName, newEnabled, newFilters)</p>
        <br> Events
        <br>
        <p>For events api was used <a href="https://warframestat.us/">https://warframestat.us/</a> public API</p>
        <p>More info on <a href="https://docs.warframestat.us/">This page</a></p>
    </div>
</template>

<script>
    export default {
        name: 'userPage'
    }
</script>
