<template>
    <div class="my-events-body">
        <div class="my-checkbox-div container">
            <div class="row my-event-checkbox-row">
                <div class="col-2 my-event-checkbox offset-3">
                    <label for="checkbox"> Nightwave </label>
                    <input class="switch" id="ch_a" type="checkbox" v-model="checked_alerts" @click="chAlerts">
                </div>
                <div class="col-2">
                    <label for="checkbox"> Invasions </label>
                    <input id="ch_i" type="checkbox" v-model="checked_invasions" @click="chInvasions">
                </div>
                <div class="col-2">
                    <label for="checkbox"> Fissures </label>
                    <input id="ch_f" type="checkbox" v-model="checked_fissures" @click="chFissure">
                </div>
                <div class="col-2">
                    <label for="checkbox"> Sortie </label>
                    <input id="ch_s" type="checkbox" v-model="checked_sortie" @click="chSortie">
                </div>
            </div>
        </div>
        <alerts v-if="checked_alerts"></alerts>
        <invasions v-if="checked_invasions"></invasions>
        <fissures v-if="checked_fissures"></fissures>
    <sortie div v-if="checked_sortie"></sortie>
    </div>
</template>

<script>
    import timer from './sm-comp/timer.vue'
    import progressbar from './sm-comp/progress.vue'
    import state from '../store/store'
    import sortie from './events/sortie.vue'
    import alerts from './events/alerts.vue'
    import invasions from './events/invasions.vue'
    import fissures from './events/fissures.vue'

    export default {
        name: 'Events',
        data: function () {
            return {
                checked_alerts: false,
                checked_invasions: false,
                checked_fissures: false,
                checked_sortie: false
            }
        },
        computed: {
            chd_a() {
                return state.state.ch_a
            },
            chd_i() {
                return state.state.ch_i
            },
            chd_f() {
                return state.state.ch_f
            },
            chd_s() {
                return state.state.ch_s
            }
        },
        mounted() {
            this.getState()
        },
        components: {
            timer,
            progressbar,
            sortie,
            alerts,
            invasions,
            fissures
        },
        methods: {
            chAlerts() {
                let check = document.getElementById('ch_a').checked
                state.commit(`change_A`, check)
            },
            chInvasions() {
                let check = document.getElementById('ch_i').checked
                state.commit(`change_I`, check)
            },
            chFissure() {
                let check = document.getElementById('ch_f').checked
                state.commit(`change_F`, check)
            },
            chSortie() {
                let check = document.getElementById('ch_s').checked
                state.commit(`change_S`, check)
            },
            getState() {
                this.checked_alerts = this.chd_a
                this.checked_invasions = this.chd_i
                this.checked_fissures = this.chd_f
                this.checked_sortie = this.chd_s
            }
        }
    }
</script>

<style>
    @import "../assets/event.scss";
</style>
