<template>
    <div class="container my-home-body">
        <h1> Hello  </h1>
        <h2> This is WFTrack  </h2>
        <div class="col-5 offset-3">
        <b>About WFTrack :</b><br>
        <br>
        <b>W</b>ar<b>F</b>rame<b>Track</b> is designed to make your endless Warframe grind a lot easier.<br>
        WFTrack's interface provides you with all of the alerts and invasions info, therefore you don't
        need to launch the game and monitor them yourself. That way you can spend less time mindlessly
        waiting for certain alert reward and worry less about missing it.<br>
        </div>
        <br>
        <br>
        <br>
        <div class="col-3 offset-1">
            <h4>Contact developer:</h4>
            <p>telegram: @omblazhko</p>
            <p><router-link to='/docs'>Api docs</router-link></p>
        </div>
    </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>
