<template>
  <div>
    <div class="container login-cont">
      <form @submit="onSubm" novalidate>
        <div class="row">
          <div class="col err text-center">
            {{unErr}}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>Username</label>
          </div>
          <div class="col-8">
            <input type="text" v-model="un" @input="unHandler">
          </div>
        </div>
        <div class="row">
          <div class="col err text-center">
            {{pwErr}}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>Password</label>
          </div>
          <div class="col-8">
            <input type="password" v-model="pw" @input="pwHandler">
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-4">
            <input type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
    <div>
      <div class="text-center">
        <router-link to="/register">Still dont use WFTrack? Register now!</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import router from '../router/index.js'
  import store from '../store/store.js'
  export default {
    name: 'login',
    data() {
      return {
        unErr: '',
        pwErr: '',
        un: '',
        pw: ''
      }
    },
    methods: {
      unHandler() {
        if (this.un.length) {
          this.unErr = ''
        } else {
          this.unErr = 'Enter username'
        }
      },
      pwHandler() {
        if (this.pw.length) {
          this.pwErr = ''
        }
      },
      onSubm(e) {
        if (this.pw === '') {
          this.pwErr = 'Enter password'
        }
        if (this.un === '') {
          this.unErr = 'Enter username'
        }
        if (!this.unErr && !this.pwErr) {
          e.preventDefault()
          console.log('sending')
          axios.post('/api/auth/login', {
            username: this.un,
            password: this.pw
          }).then(data => {
            if (data.status === 200) {
              store.dispatch('login', {
                token: data.data
              })
                .then(() => {
                  router.push('/home')
                })
            }
          })
            .catch(err => {
              let erresp = err.response
              if (erresp.status === 401) {
                this.unErr = erresp.data
              }
            })
        } else {
          e.preventDefault()
        }
      }
    }
  }
</script>

<style>
  @import "../assets/login.css";
</style>
