<template>
    <div>
        <div class="container reg-cont">
            <form @submit="onSubm" novalidate>
                <div class="row">
                    <div class="col err text-center">
                        {{unErr}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Username</label>
                    </div>
                    <div class="col-6">
                        <input type="text" v-model="un" @input="unHandler" minlength="3" maxlength="10">
                    </div>
                </div>
                <div class="row">
                    <div class="col err text-center">
                        {{pwErr}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Password</label>
                    </div>
                    <div class="col-6">
                        <input type="password" v-model="pw" @input="pwHandler">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Confirm password</label>
                    </div>
                    <div class="col-6">
                        <input type="password" v-model="pc" @input="pcHandler">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Upload avatar (Not required)</label>
                    </div>
                    <div class="col-6">
                        <input type="file" accept="image/*" @change="onFileChanged">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 offset-8">
                        <br>
                        <input type="submit" value="Register" onchange="">
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import router from '../router/index.js'
    import store from '../store/store.js'
    export default {
        name: 'login',
        data() {
            return {
                unErr: '',
                pwErr: '',
                cpErr: '',
                un: '',
                pw: '',
                pc: '',
                file: null
            }
        },
        methods: {
            onFileChanged(event) {
                // console.log('new file')
                this.file = event.target.files[0]
            },
            unHandler() {
                // console.log('here')
                if (this.un.length < 3 || this.un.length > 10) {
                    if (!this.un.length) {
                        this.unErr = 'Enter username'
                    } else {
                        this.unErr = 'Username must be under more than 3 and under 10 symbols'
                    }
                } else {
                    // console.log('here 2')
                    axios.get(`/api/users/${this.un}`)
                        .then(user => {
                            console.log(`okay /api/users/${this.un}`)
                            if (user) {
                                // console.log(user)
                                // console.log('NO')
                                this.unErr = 'There is already user with that username'
                            }
                        })
                        .catch(() => {
                            // console.log('gotem')
                            this.unErr = ''
                        })
                }
            },
            pwHandler() {
                if (this.pw.length >= 4 && this.pw.length <= 8) {
                    this.pwErr = ''
                } else {
                    this.pwErr = 'Password must be more than 4 symbols and less than 8'
                }
            },
            pcHandler() {
                if (this.pw.length >= 4 && this.pw.length <= 8) {
                    if (this.pc === this.pw) {
                        this.pwErr = ''
                    }
                }
                if (this.pc !== this.pw) {
                    this.pwErr = 'Passwords dont match'
                }
            },
            onSubm(e) {
                if (this.pw === '') {
                    this.pwErr = 'Enter password'
                }
                if (this.un === '') {
                    this.unErr = 'Enter username'
                }
                if (this.pc === '') {
                    this.cpErr = 'Confirm password'
                }
                if (this.pc !== this.pw) {
                    this.pwErr = 'Passwords dont match'
                }
                if (!this.unErr && !this.pwErr) {
                    e.preventDefault()
                    console.log('sending')
                    let fd = new FormData()
                    fd.append('username', this.un)
                    fd.append('password', this.pw)
                    fd.append('confirmPassword', this.pc)
                    fd.append('image', this.file)
                    axios.post('/api/auth/register', fd).then(data => {
                        if (data.status === 201) {
                            console.log('regged')
                            return axios.post('/api/auth/login', {
                                username: this.un,
                                password: this.pw
                            })
                        } else {
                        }
                    })
                        .then(data => {
                            if (data.status === 200) {
                                console.log('logind')
                                store.dispatch('login', {
                                    token: data.data
                                })
                                    .then(() => {
                                        router.push('/home')
                                    })
                            }
                        })
                        .catch(err => {
                            let erresp = err.response
                            if (erresp.status === 409) {
                                this.unErr = erresp.data
                            }
                        })
                } else {
                    e.preventDefault()
                }
            }
        }
    }
</script>

<style>
    @import "../assets/reg.css";
</style>
