<template>
    <div v-if="user" class="container">
        <div class="row">
            <div class="col-8">
                <img :src="user.avaUrl" class="avaImage">
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col my-user-field">
                        Login : {{user.login}}
                    </div>
                </div>
                <div class="row">
                    <div class="col my-user-field">
                        Registered at : {{normaldate}}
                    </div>
                </div>
                <div class="row">
                    <div class="col my-user-field">
                        TelegramId :
                        <input type="text" v-model="userTelegramId" @change="saveUser">
                    </div>
                </div>
                <div class="row">
                    <div class="col my-user-field">
                        Role :
                        <span v-if="user.role"> Admin </span>
                        <span v-else> User </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="user-filters-ui row">
                            <div class="col-4">
                                <h5>Filters</h5>
                            </div>
                            <div class="col-3 offset-5 ">
                                <button v-if="filters.length < 6" class="my-filter-addbutton" @click="addFilter">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="user-filters">
                            <div class="filter-instance text-center" v-for="(filt, index) in filters" :key="index" data-toggle="modal" data-target="#myModal" @click="setEditFilter(index)">
                                {{filt.name}}
                            </div>
                            <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit filter</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body container">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <p>Name : </p>
                                                    </div>
                                                    <div class="col-9">
                                                        <input type="text" v-model="editFilterName" maxlength="8">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <p>Active : </p>
                                                    </div>
                                                    <div class="col-9">
                                                        <input type="checkbox" v-model="editFilterChecked">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-3">
                                                        <p>Filters : </p>
                                                    </div>
                                                    <div class="col-9">
                                                        <input type="text" v-model="editFilterFilters" maxlength="20">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" data-dismiss="modal" @click="deleteFilter">Delete</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="updateFilter">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col my-user-field">
                        <p>Upoad new picture</p>
                        <input id="newPic" type="file" accept="image/*" @change="onFileChanged">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'userPage',
        data() {
            return {
                user: null,
                normaldate: null,
                filters: [],
                file: null,
                filterToEdit: null,
                editFilterName: '',
                editFilterChecked: false,
                editFilterFilters: '',
                userTelegramId: ''
            }
        },
        created() {
            // console.log('USER PAGE CREATED')
            this.getUser()
        },
        methods: {
            deleteFilter() {
                console.log('1')
                console.log(this.filters)
                axios.delete(`/api/filters/${this.filterToEdit._id}/delete`)
                    .then(() => {
                        let i = this.filters.indexOf(this.filterToEdit)
                        this.filters.splice(i, 1)
                        this.filterToEdit = null
                        console.log('2')
                        console.log(this.filters)
                        this.saveUser()
                    })
            },
            updateFilter() {
                let fd = new FormData()
                // console.log('1')
                fd.append('newFilterName', this.editFilterName)
                fd.append('newEnabled', this.editFilterChecked)
                console.log('this.editFilterFilters')
                console.log(this.editFilterFilters)
                let newFilters = this.editFilterFilters.split(',');
                fd.append('newFilters', JSON.stringify(newFilters))
                axios.patch(`/api/filters/${this.filterToEdit._id}/update`, fd)
                    .then(data => {
                        // console.log(data)
                        // console.log('2')
                        this.filterToEdit = null
                        this.saveUser()
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            setEditFilter(index) {
                this.filterToEdit = this.filters[index]
                this.editFilterName = this.filterToEdit.name
                this.editFilterChecked = this.filterToEdit.enabled
                this.editFilterFilters = String(this.filterToEdit.filters)
            },
            onFileChanged(event) {
                // console.log('new file')
                this.file = event.target.files[0]
                this.saveUser()
            },
            addFilter() {
                console.log('add filter')
                axios.post('/api/filters/new')
                    .then(data => {
                        console.log(data.data)
                        this.filters.push(data.data)
                        this.saveUser()
                    })
            },
            getUser() {
                axios.get(`/api/users/${this.$route.params.id}`)
                    .then(data => {
                        // console.log(data)
                        this.user = data.data
                        let date = new Date(this.user.registeredAt)
                        this.filters = data.data.filters
                        this.normaldate = date.toDateString()
                        this.userTelegramId = data.data.telegramId
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            async saveUser() {
                console.log('3')
                let fd = new FormData()
                fd.append('filters', JSON.stringify(this.filters))
                console.log(this.userTelegramId)
                fd.append('image', this.file)
                fd.append('telegramId', this.userTelegramId)
                axios.patch(`/api/users/${this.$route.params.id}/update`, fd)
                    .then(data => {
                        this.getUser()
                        // console.log('4')
                        document.getElementById('newPic').value = '';
                    })
            }
        }
    }
</script>

<style>
    @import "../assets/user.css";
</style>
