<template>
    <div class="my-home-body">
        <div class="my-users-div container">
            <h6>User search by username</h6>
            <input type="text" class="my-user-search" v-model="search" @input="searchUsers">
            <table class="my-user-table container">
                <thead>
                    <div class="row my-user-table-heading">
                        <div class="col-2">
                        </div>
                        <div class="col-2">
                            Login
                        </div>
                        <div class="col-2">
                            Role
                        </div>
                        <div class="col-4">
                            Registered at
                        </div>
                    </div>
                </thead>
                <tbody>
                    <div class="my-user-line" v-for="(user, index) in users" :key="index">
                        <div class="row my-user-row">
                            <div class="col-2">
                                <img :src="user.avaUrl" class="my-userlist-thumb">
                            </div>
                            <div class="col-2">
                                {{user.login}}
                            </div>
                            <div class="col-2">
                                <span v-if="user.role === 0">User</span>
                                <span v-else>Admin</span>
                            </div>
                            <div class="col-4">
                                {{user.registeredAt}}
                            </div>
                            <div class="col-2">
                                <button v-if="!user.role" id="delBtn" name="user.login" tabindex="-1" class="btn btn-danger" data-toggle="modal" data-target="#delModal" @click="setDelUser(user.login)">Delete</button>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
            <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Wait</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to permanently delete user '{{userToDel}}' ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" @click="getUsers" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" @click="delUser()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row my-btn-row">
                <div class="col-2" align="right">
                    <button class="btn" v-if="page - 1" @click='decrpage'>Page {{page - 1}}</button>
                </div>
                <div class="col-8 text-center">
                    <p> Page {{page}}/{{totalPages}}</p>
                </div>
                <div class="col-2">
                    <button class="btn" v-if="page != totalPages" @click='incrpage'>Page {{page + 1}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import $ from 'jquery'
    export default {
        name: 'users',
        data: function () {
            return {
                users: null,
                page: 1,
                search: '',
                nextPage: null,
                totalPages: null,
                userToDel: null
            }
        },
        mounted() {
            this.getUsers()
        },
        methods: {
            searchUsers() {
                this.page = 1
                this.getUsers()
            },
            setDelUser(login) {
                console.log(login)
                this.userToDel = login
            },
            delUser(login) {
                // post delete
                axios.delete(`/api/users/${this.userToDel}/delete`)
                    .then(data => {
                        if (this.users.length === 1) {
                            console.log('need to makee page --')
                            this.page--
                        }
                        console.log('deleting')
                        this.getUsers()
                        $('#delModal').modal('hide')
                    })
            },
            getUsers() {
                console.log(this.search)
                axios.get(`/api/users?search=${this.search}&page=${this.page}`)
                    .then(data => {
                        console.log(data);
                        this.users = data.data.users
                        this.totalPages = data.data.totalPages
                        if (this.totalPages > this.page) {
                            this.nextPage = true
                        } else {
                            this.nextPage = false
                        }
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            incrpage() {
                this.page++
                this.getUsers()
            },
            decrpage() {
                this.page--
                this.getUsers()
            }
        }
    }
</script>

<style>
    @import "../assets/users.scss";
</style>
