div.my-alerts-div{
    margin-left: 50px;
    margin-right: 50px;
    display: inline-flex;
    flex-wrap: wrap;
}

div.my-alert-card{
    flex: 1 0 10%;
    min-height: 100px;
    min-width: 220px;
    max-height: 100px;
    max-width: 220px;
}

div.my-event-boxs{
    background-color: rgba(0, 0, 0, 0.454);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: rgba(94, 154, 179, 0.721) 10px 10px 30px;
    transition: linear 0.2s;
    overflow: hidden;   
    animation: slide-up 0.2s;
}

div.my-event-boxs-elite {
    box-shadow: rgba(167, 68, 76, 0.721) 10px 10px 30px;
}

div.my-event-boxs-daily {
    box-shadow: rgba(68, 167, 76, 0.721) 10px 10px 30px;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

div.my-alert-card:hover{
    max-height: 300px;
    max-width: 300px;
    transition: ease 0.5s;
}

img.my-alert-card-thumbnail{
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
}

div.my-checkbox-div{
    display: flex;
    align-items: stretch;
    vertical-align: middle;
    margin: auto;
}

div.my-events-body{
    color: azure;
}

div.my-event-checkbox-row{
    width: 100%;
}

div.my-reward-parag{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}

span.att{
    background-color: rgba(0, 0, 171, 0.9);
    float: left;
    margin: 0;
}

div.my-progress-bar{
    height: 10px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    overflow: hidden;
}

span.prog-col{
    height: 100%;
}

h1.my-event-title{
    margin-left: 150px;
    animation: slide-up 0.5s;
}

div.my-invasion-div{
    line-height: 15px;
}

div.my-fissures-div{
    display: inline-flex;
    flex-wrap: wrap;
}

div.my-fissure-card{
    flex: 1 0 33%;
    max-width: 300px;
}

p.my-sortie-desc{
    font-size: 30px;
}

div.my-sortie-mission-description{
    overflow: hidden;
    min-height: 90px;
    max-height: 90px;
}

div.my-sortie-mission-description:hover{
    overflow: hidden;
    min-height: 150px;
    max-height: 150px;
}

div.my-sortie-div{
    min-height: 600px;
}