div.login-cont{
    width: 30%;
    margin: auto;
    margin-top: 200px;
    color: black;
    border: solid white 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 50px;
}

div.err{
    color: red
}
