a.my-navbar-title{
    display: flex;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: black;
}

body{
    background-color: rgb(0, 68, 97);
    background-image: url("bg2.jpg"); 
    background-attachment: fixed;
    background-size: 100%;   
}

div.my-navbar{
    height: 50px;
    background-image: -webkit-linear-gradient(white 70%,gray 5%, rgba(0, 2, 62, 0.1));
    display: flex;
    align-items: stretch
}

div.my-navbar-col{
    display: flex;
    align-items: center;
}
div.container{
    margin-left: 50px;
    margin-right: 50px;
}

div.my-home-body{
    color: azure;
}

div.errors{
    color: rgb(175, 37, 37)
}

div.api-about{
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 20px;
}