div.my-users-div{
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    border: rgba(255, 255, 255, 0.7) 5px solid;
    padding: 50px;
    min-height: 580px;
}

img.my-userlist-thumb{
    width: auto;
    max-width: 50%;
    max-height: 40px;
    border-radius: 10px;
    margin: auto;
    transition: linear 0.2s;
}

div.my-user-line {
    border: black 1px solid;
    background-color: rgba(0, 89, 255, 0.548);
    box-shadow: rgba(255, 255, 255, 0.721) 5px 5px 10px;
    height: 50px;
    margin: 10px;
    border-radius: 20px;
    transition: linear 0.2s;
    overflow: hidden;   
}

div.my-user-row{
    height: 50px;
    margin: 5px;
}

div.my-user-line:hover {
    height: 100px;
}
div.my-user-line:hover img.my-userlist-thumb{
    max-height: 90px;
    max-width: 100%;
}

div.my-user-table{
    width: 100%;
}

div.my-user-table-heading{
    margin: 5px;
}

div.my-btn-row{
    color: azure;
    bottom: 0;
    height: 30px;
}