div.my-user-field{
    color: black;
    border: solid white 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 10px;
}

img.avaImage{
    float: right;
    min-width: 90%;
    max-width: 90%;
    height: auto;
    max-height: 500px
}

div.user-filters{
    border-radius: 5px;
    border: solid 1px rgba(255, 215, 215, 0.6);
    background-color: rgba(255, 242, 242, 0.336);
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 25%;
}

div.user-filters-ui{
    background-color: rgba(255, 255, 255, 0.856);
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

button.my-filter-addbutton {
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.my-filter-delbutton {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: red
}

div.filter-instance{
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(190, 237, 255);
    box-shadow: rgba(84, 110, 255, 0.5) 5px 5px 10px;
    margin: 10px;
    height: 20%;
    width: 40%;
}