<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row my-navbar">
        <div class="col-2 my-navbar-col">
          <router-link class="my-navbar-title" to="/">Home</router-link>
        </div>
        <div class="col-2 my-navbar-col">
          <router-link v-if="user" class="my-navbar-title" to="/events">Events</router-link>
          <router-link v-else class="my-navbar-title" to="/login">Login</router-link>
        </div>
        <div class="col-2 my-navbar-col">
          <router-link v-if="user && user.role" class="my-navbar-title" to="/users">Users</router-link>
          <router-link :to="{ name: 'userpage', params: { id: user.login } }" v-else-if="user" class="my-navbar-title" >My page</router-link>
        </div>
        <div class="col-2 offset-4">
          <button v-if="user" class="btn btn-primary" @click="logout">Logout</button>
        </div>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
  import router from './router/index.js'
  import store from './store/store.js'
  export default {
    name: 'App',
    data() {
      return {
        login: null,
        password: null,
        confpass: null,
        image: null,
        errors: [],
        regErrors: [],
        user: null,
        role: null
      }
    },
    computed: {
      usr() {
        return store.state.user
      },
      rol() {
        if (this.usr) {
          return store.state.user.role
        }
      }
    },
    created() {
      this.updToken()
    },
    updated() {
      this.updToken()
    },
    methods: {
      logout() {
        this.user = null
        this.role = null
        store.dispatch('logout')
        this.updToken()
        router.push('/login')
      },
      updToken() {
        this.user = this.usr
        this.role = this.rol
        // if (this.user) {
        //   console.log(this.usr)
        //   console.log(this.rol)
        // } else {
        //   console.log('no user')
        // }
      }
    }
  }
</script>

<style>
  @import "/assets/shared.css";
</style>
